body {
  background: #eee;
  font-family: sans-serif;
}

.card,
.title,
.content,
.button-container,
button {
  padding: 8px;
}

.title,
.content {
  margin-bottom: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-top: 0;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
